body {
}
.img1 {
    float: left;
}

img {
    border: 3px outset;
}




.h1 {
    font-size: 35px;
    text-shadow: 5px 5px 5px #ff006e;
    padding: 5px;
}

.h2 {
    font-size: 25px;
    padding: 5px;
}



p {
    line-height:30px;
    clear: none;
    text-indent: 2em;
    font-family: Consolas;
    text-align: justify;
}