body {
}
.img1 {
    float: left;
}

img {
    border: 3px outset;
}
.cl1 {
    width: 1000px;
    border: 1px solid gray;
    background-color: white;
}

.cl2 {
    width: 455px;
    border: 5px solid red;
    float: left;
}

.h1 {
    font-size: 35px;
    text-shadow: 5px 5px 5px #ff006e;
    padding: 5px;
}

.h2 {
    font-size: 25px;
    padding: 5px;
}

.sp1 {
    font-size: 30px;
}

p {
    clear: none;
    text-indent: 2em;
    font-family: Consolas;
    text-align: justify;
    padding: 5px;
}