body 
    /*h2

{
    color: red;
    text-transform: uppercase
}

h3 {
    color: darkgrey;
    text-transform: lowercase
}*/
.st1 {
    color: red;
    text-transform: uppercase
}

.st2 {
    color: darkgrey;
    text-transform: lowercase
}
h5.st3 {
    color:darkolivegreen;
    font-size:40px
}

